body {
    background-image: url("IMG/Blue\ Green\ Watercolor\ Linktree\ Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
fieldset{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
legend {
    
    animation: float 2s infinite linear;
    color: rgb(49, 255, 231);
    font-family: 'Times New Roman', Times, serif; 
    text-shadow: 10px 10px 25px rgb(0, 0, 0);
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}