{% extends "login.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/Portales.css">
    <link rel="stylesheet" href="../static/css/Tablas.css">
    <link rel="stylesheet" href="../static/css/Registrar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/app.js" defer></script>
    <script src="../static/js/ventanasemergentes.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="../static/js/pdf.js" defer></script>

</head>
<body>
    <div class="menu-dashboard open">
        <div class="top-menu">
            <div class="logo">
                <img src="../static/img/s-png-28667.png" alt="">
                <span>Innovashop</span>
            </div>
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <div class="input-search">
            <i class='bx bx-search-alt' ></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <div class="menu">

            <div class="enlace" data-pagina="Cliente">
                <i class='bx bxs-user'></i>
                <span>Facturas</span>
            </div>
    
            <br><br>
            <div class="enlace">
                <a onclick="salir()">
                    <div class="bx bx-log-out"></div>
                    <span>Salir</span>
                </a>
            </div>
        </div>
    </div>

    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--tittle">
                <span style="color: black;">Portal De Cliente</span>
            </div>

            <div class="contpdf">
                <div class="pdf">
                    <img src="../static/img/PDF.png" alt="">
                </div>
                <div class="btnpdf">
                    <button>Descargar PDF</button>
                </div>
            </div>
        </div>

        <div class="pagina Cliente">
            <div class="dentro cliente">
                <div class="factura">
                    <img src="../static/img/factura.jpg" alt="">
                </div>     
            </div>
        </div>

    </div>
</body>
</html>
{% endblock %}
