#divprincipal {
  font-weight: 400;
  font-size: 35px;
  color: black;
  margin: 0 4.9px 44px 0;
}

.campo input {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    padding: 13.5px 25.9px 10.1px 25.9px;
    width: 100%;
    color: rgb(255, 255, 255);
    background: #1E2126;
}

.campo label  {
    font-weight: 400;
    font-size: 25px;
    color: black;
}

.cont{
    padding: 3rem;
    width: 100%;
    height: 100vh;
    overflow-y: auto
}

.campo select{
    width: 100%; 
    height: 50px;
}

.Guardar {
    width: 100%; 
    height: 70px;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 20px;
}

.campo{
    padding: 0.8rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: white;
    padding: 2rem;
    width: 100vh; 
    height: 90vh; 
    overflow-y: auto;
    border-radius: 10px;
    text-align: center;
    position: relative; 
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 0, 51);
    color: black;
}