#divprincipal {
  font-weight: 400;
  font-size: 35px;
  color: black;
  margin: 0 4.9px 44px 0;
}

.campo input {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    padding: 13.5px 25.9px 10.1px 25.9px;
    width: 100%;
    color: rgb(255, 255, 255);
    background: #1E2126;
}

.campo label  {
    font-weight: 400;
    font-size: 25px;
    color: black;
    text-align: left;
    margin-left: 20px;
}

.cont{
    padding: 0rem 3rem 3rem 3rem;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.campo select{
    width: 100%; 
    height: 50px;
}

.Guardar {
    width: 100%; 
    height: 70px;
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 20px;
}

.campo{
    padding: 0.8rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: white;
    padding: 2rem;
    width: 100vh; 
    height: 90vh; 
    overflow-y: auto;
    border-radius: 10px;
    position: relative; 
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 0, 51);
    color: black;
}


#textbox {
overflow-wrap: break-word;
font-weight: 400;
font-size: 20px;
padding: 13.5px 25.9px 10.1px 25.9px;
width: 380px;
height: 37px;
color: rgb(0, 0, 0);
background: #D9D9D9;
border-color: white;
border: none;
border-left: 2px solid black;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
}

#id {
font-weight: 100;
font-size: 25px;
color: black;
width: 43px;
height: 37px;
background: #D9D9D9;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}

#id2 {
margin-left: 7px;
}

#modulos {
display: flex;
flex-direction: row;
font-weight: 100;
font-size: 30px;
justify-content: space-between;
}

#modulosFormato {

    width: 500px;

}


#box {
width: 25px;
height: 25px;
text-align: center;
margin-top: 11px;
margin-right: 10px;
}

#Volver {
position: relative;
width: 150px;
height: 50px;
overflow-wrap: break-word;
font-family: 'Mulish';
font-weight: 400;
font-size: 20px;
margin: 10px 0px 0px 10px;
}

#titulo {
    font-weight: 400;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: space-between;
}

#box {
margin-left: 60px;
width: 20px;
margin-top: 17px;
}

.Imagen {
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    color: black;
    margin: 3rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}


#divprincipal, #divsecundario {
    width: 750px;
    height: 800px;
    margin-left: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
#fila {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
}




#datos {
    font-weight: 400;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

#divprincipal {
    font-weight: 400;
    font-size: 50px;
    color: black;
    width: 100%;
}

#divsecundario {
    background: #0C0A26;
    overflow: auto;
    width: 100%;
}

#espacio {
    margin-left: 30px;
}

#checkbox {
    display: flex;
    flex-direction: row;
    /* text-align: right; */
    justify-content: space-between;
    margin-right: 30px;
}


#check {
    margin-left: 150px;
    width: 30px;
    height: 35px;

}


#buton {
    width: 100%;
    padding: 0;
    text-align: right;
    /* background: black; */
    justify-content: space-between;
}

.Buscares {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;

}

#Guardarr {
    position: relative;
    width: 100%;
    height: 80px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 30px;
    color: black;
    margin-top: 30px;
}


#HacerCompra {
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    width: 450px;
    height: 50px;
}

.completar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    font-weight: 400;
    font-size: 25px;
    color: black;
    margin-left: 50px;
    margin-top: 22px;
}

 /* Css de ventana de qr*/

 body {
    font-family: 'Mulish', sans-serif;
  }
  
  .found {
    max-width: 57rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}
  
  .butona {
    background-color: #0062ff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    color: #ffffff;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    width: 100%;

  }
  
  .butona:active {
      transform: translateY(2px); 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  
  .cont1{
  
      display: flex;
      padding: 2rem;
  
  }
  
  
  .grafica_2{
  
  margin-left: 3rem;
  
  }
  
  .barras{
  
      margin-top:60px;
      margin-left: 100px;
  
  }
  
  .txt_box{
    display: flex;
    width: 70%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.55rem;
    outline: none;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 100px;
  
  }
  
  
  
  .producto{
  width: 400px;
  margin: 1rem;
  
  }

  .div_id {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imgdesc {
    width: 100%;
    margin-bottom: 20px;
}


@media print {
    label {
        color: #000; /* Fuerza el color negro para los labels */
    }
    input.txt_box {
        color: #000; /* Asegura que el color de los campos de entrada sea negro */
    }
}







