<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #formulario {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
  }

  #formulario label {
    display: block;
    margin-bottom: 5px;
  }

  #formulario input,
  #formulario select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
</style>

<body>
  <section id="formulario">
    <h2>Crear Empresa</h2>
    <form action="/empresas/crear" method="post">
      <label for="nombre">Nombre:</label>
      <input type="text" name="name_emp" required>
      <br>
  
      <label for="mail">Mail:</label>
      <input type="text" name="mail_emp" required>
      <br>
  
      <label for="ubicacion">Ubicación:</label>
      <input type="text" name="ubicacion" required>
      <br>
  
      <label for="estado">Estado:</label>
      <select name="status">
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
      <br>
  
      <label para="IVA">IVA:</label>
      <input type="number" name="IVA" required>
      <br>
  
      <label para="fecha_inicio">Fecha de Inicio:</label>
      <input type="date" name="fecha_Inicio" required>
      <br>
  
      <label para="fecha_final">Fecha Final:</label>
      <input type="date" name="fecha_final" required>
      <br>
  
      <button type="submit">Crear</button>

      <div>
        <p>
            <br>
            <a href="/portaladmin" class="text-white-50 fw-bold">Volver</a>
        </p>
      </div>


    </form>
  </section>
  
</body>
</html>