

    {% block content %}


    

    
    

  <body>
    <div class="portal-administrativo">
      <div class="portal-administrativo-1">
      PORTAL ADMINISTRATIVO
      </div>
      <div class="container-13">
        <div class="container-4">
          <div class="id-de-empresa">
          ID de Empresa:
          </div>
          <div class="container-5">
            <span>
              <input type="text" id="companyId" placeholder="Ingrese ID de Empresa">
            </span>
          </div>
        </div>
        <div> 
          <div> 
            <button type="button" class="btn btn-primary btn-lg" id = "AgregarEmpresa"> Agregar Empresa</button> 
          </div>
          
        </div>
      </div>
      <div class="container-17">
        <div class="container">
          <div class="container-10">
            <div class="nombre">
            Nombre
            </div>
            <div class="mdulos-de-la-empresa">
            Módulos de la empresa
            </div>
            <div class="periodo-activo">
            Periodo activo
            </div>
          </div>
          <div class="container-6">
            <div class="container-19">
              <div class="container-15">
                <div>
                  <input type="checkbox" id="rectangle-83">
                </div>
              </div>
              <span class="mdulo-de-descuento">
              Módulo de descuento 
              </span>
            </div>
            <div class="container-14">
              <div class="perido-establecido">
              Periodo establecido:
              </div>
              <div class="rectangle-13">
                <input type="text" id="periodo-establecido">
              </div>
            </div>
          </div>
          <div class="container-2">
            <div class="container-3">
              <div class="container-7">
                <div>
                  <input type="checkbox" id="rectangle-83">
                </div>
              </div>
              <span class="mdulo-de-cliente">
              Módulo de cliente
              </span>
            </div>
            <div class="container-18">
              <div class="perido-faltante">
              Perido faltante:
              </div>
              <div class="rectangle-14">
                <input type="text" id="periodo-faltante">
              </div>
            </div>
          </div>
          <div class="container-1">
            <div>
              <input type="checkbox" id="rectangle-17">
            </div>
            <span class="mdulo-de-compra">
            Módulo de compra
            </span>
          </div>
          <div class="container-9">
            <div>
              <input type="checkbox" id="rectangle-18">
            </div>
            <span class="mdulo-de-productos-en-stock">
            Módulo de productos en stock
            </span>
          </div>
          <div class="container-12">
            <div class="container-8">
              <div>
                <input type="checkbox" id="rectangle-21">
              </div>
            </div>
            <span class="modulo-de-informes">
            Modulo de informes
            </span>
          </div>
          <div class="container-16">
            <div>
              <input type="checkbox" id="rectangle-22">
            </div>
            <span class="modulo-de-stock">
            Modulo de stock
            </span>
          </div>
        </div>
        <div class="line-1">
        </div>
        <div class="line-2">
        </div>
      </div>
      <div class="container-11">
        <button type="button" class="btn btn-outline-dark btn-lg" id = "Volver">Volver</button>    
          <button type="button" class="btn btn-primary btn-lg" id = "Guardar">Guardar</button>                    
      </div>
      <div class="line-3">
      </div>
    </div>
  </body>
  {% endblock %}