@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    height: 100vh;
}

.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: #0C0A26;
    padding: 30px; 
    transition: max-width .3s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 50px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}


.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 20px 10px 20px 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 25px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

.menu .enlace {
    width: 100%;
    padding: 20px 10px 20px 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
    color: var(--blanco);
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
    color: var(--blanco);
}

.bx.bx-log-out {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
  

.menu-dashboard.open {
    max-width: 100%;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.main--content {
    position: relative;
    background: var(--blanco);
    width: 100%;
    height: auto;
    padding: 1.5rem;
    margin: 0;
    overflow-y: auto;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 2rem;
    margin: 0;
}

.pagina {
    position: unset;
    background: var(--blanco);
    width: 100%;
    height: max-content;
    display: none;
    padding: 0; 
    box-sizing: border-box; 
    margin: 0;
    padding-top: 20px;
}

.pagina.Proveedores {
    display: none;
}

.pagina.Modulo-cliente {
    display: block;
}

.pagina.Cliente {
    display: block;
}

.dentro {
    color: black;
    background: #ffffff;
    border-radius: 10px;
    overflow-y: auto;
    height: 84.5vh;
    padding: 3rem;
}

.dentro.cliente{
    padding: 2rem;
}

.redireccion{
    padding: 0.1rem;
    margin: 0;
}

.container {
    display: contents;
}

.pdf img{
    width: 35px;
    margin-right: 10px;
}

.btnpdf{
    padding: 0;
    margin: 0;
}

.contpdf{
    display: flex;
}

.factura{
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
}

.factura img{
    width: 110vh;
    height: 97%;
}

.lables {
    text-align: left;
}

/*
.butona {
  background-color: #0062ff;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  color: #ffffff;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 30px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;

}

.butona:active {
    transform: translateY(2px); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
 

.cont{
    display: flex;
}*/

.tablaCotizacion {
    font-size: 20px;
}
.contenedorProductos {
    width: 100%;
    height: 800px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 20px;
    background: #0C0A26;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.BarraDeProductos {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    padding: 10px;
}

.productoInfo {
    width: 200px;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin: auto;
    margin-bottom: 20px;
}

.imgProducto {
    height: 150px;
    margin: 5px;
    border-radius: 10px
}   

#AgregarCarrito {
    height: 100%;

}

#Carrito {
    cursor: pointer;
    font-size: 30px;
    background: white;
    color: black;

}

#Carrito:hover {
    background-color: #D9D9D9; 
}

.pestañasProductos {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: black;   
    margin-top: 10px;
}
.pestaña {
    cursor: pointer;
}


