<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registrar Proveedor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='RegistroVendedor.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div id="RegistroProveedor">
        <div id = "divprincipal">
            Registrar vendedor
        </div>
        <div id = "Letra">ID</div>
        <div>
            <input type="text" id="si" placeholder="Ingrese ID de vendedor">
        </div>
        <div id = "Letra">Nombre</div>
        <div>
            <input type="text" id="textbox" placeholder="Ingrese Usuario">
        </div>
        <div id = "Letra">Email</div>
        <div>
            <input type="text" id="textbox" placeholder="Ingrese su email">
        </div>
        <div id = "Letra">Fecha de inicio</div>
        <div>
            <input type="text" id="textbox" placeholder="DD/MM/AA">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg" id = "Guardar">Registrar vendedor</button>   
        </div>
    </div>

    
</body>
</html>