@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    height: 100vh;
}

.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: #0C0A26;
    padding: 30px; 
    transition: max-width .3s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}


.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 25px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
    color: var(--blanco);
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
    color: var(--blanco);
}

.bx.bx-log-out {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}
  

.menu-dashboard.open {
    max-width: 100%;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.main--content {
    position: relative;
    background: var(--blanco);
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0;
    overflow-y: auto;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 2rem;
    margin: 0;
}

.pagina {
    position: unset;
    background: var(--blanco);
    width: 100%;
    height: max-content;
    display: none;
    padding: 0; 
    box-sizing: border-box; 
    margin: 0;
    padding-top: 20px;
}

.pagina.Proveedores {
    display: block;
}

.pagina.Modulo-cliente {
    display: block;
}

.dentro {
    color: black;
    background: #ffffff;
    border-radius: 10px;
    overflow-y: auto;
    height: 80vh;
}

.container {
    display: contents;
}

#textbox {
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    padding: 13.5px 25.9px 10.1px 25.9px;
    width: 487px;
    height: 47.5px;
    color: rgb(0, 0, 0);
    background: #D9D9D9;
    border-color: white;
    border: none;
    border-left: 1px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
}

#contenido {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 100px;
}

#id {
    font-weight: 100;
    font-size: 30px;
    color: black;
    width: 50px;
    height: 47.5px;
    background: #D9D9D9;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#id2 {
    margin-left: 10px;

}

#containerButton {
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}

#Guardar {
    position: relative;
    width: 297px;
    height: 47px;
    overflow-wrap: break-word;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 40px;
    
}

#boton {
    margin-bottom: 5px;
    
}
#Portal {
    font-weight: 100;
    font-size: 30px;
    color: black;
}


select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 297px;
    height: 47px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 100px;
}